@import "reset.css";

:root {
  color-scheme: light dark;

  &:has([data-theme="light"]) {
    color-scheme: light;
  }

  &:has([data-theme="dark"]) {
    color-scheme: dark;
  }

  --clr-toggle-gradient: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );

  --clr-white: hsl(0, 0%, 100%);

  --clr-toggle: hsl(230, 22%, 74%);
  --clr-bg: light-dark(var(--clr-white), hsl(230, 17%, 14%));
  --clr-bg-pattern: light-dark(hsl(225, 100%, 98%), hsl(232, 19%, 15%));
  --clr-bg-card: light-dark(hsl(227, 47%, 96%), hsl(228, 28%, 20%));
  --clr-txt-primary: light-dark(hsl(228, 12%, 44%), hsl(228, 34%, 66%));
  --clr-txt-secondary: light-dark(hsl(230, 17%, 14%), var(--clr-white));
  --clr-green-lime: hsl(163, 72%, 41%);
  --clr-red-bright: hsl(356, 69%, 56%);
  --clr-facebook: hsl(208, 92%, 53%);
  --clr-twitter: hsl(203, 89%, 53%);
  --clr-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  --clr-youtube: hsl(348, 97%, 39%);

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-600: 1.25rem;
  --fs-800: 1.5rem;
  --fs-900: 1.75rem;
  --fs-1200: 2rem;
  --fs-1600: 2.5rem;
  --fs-3200: 3.5rem;

  --ff-primary: "Inter", serif;
  --fw-400: 400;
  --fw-700: 700;

  --toggle-switch-width: 1.1rem;
  --transition-duration: 0.4s;
}

.transition {
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}

.body {
  font-family: var(--ff-primary);
  background-color: var(--clr-bg);
  position: relative;
}

.banner {
  z-index: 1;
  position: absolute;
  background: var(--clr-bg-pattern);
  inset: 0;
  width: 100%;
  height: 9%;
  border-radius: 0 0 1rem 1rem;
}

.card {
  border-radius: 0.3rem;
  padding-block-start: 0.25rem;
}

.card--facebook {
  background: var(--clr-facebook);
}

.card--twitter {
  background: var(--clr-twitter);
}

.card--instagram {
  background: var(--clr-instagram);
}

.card--youtube {
  background: var(--clr-youtube);
}

.card__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.125rem;
  padding: 1.8rem 2rem;
  background: var(--clr-bg-card);
}

.card__main__head {
  display: flex;
  gap: 0.55rem;
  align-items: center;
}

.card__main__head__name {
  font-weight: var(--fw-700);
  font-size: var(--fs-100);
  color: var(--clr-txt-primary);
}

.card__main__body__heading {
  color: var(--clr-txt-secondary);
  font-size: var(--fs-3200);
  letter-spacing: 1px;
}

.card__main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__main__body__par {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: var(--fs-100);
  color: var(--clr-txt-primary);
}

.card__main__foot {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-block-start: 0.35rem;
  font-weight: var(--fw-700);
  font-size: var(--fs-100);
}

.incline {
  color: var(--clr-green-lime);
}

.decline {
  color: var(--clr-red-bright);
}

.dashboard {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.125rem 1.575rem;
  letter-spacing: 0.35px;
  width: min(100%, 1160px);
  margin-inline: auto;
}

.dashboard__top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboard__top__header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboard__top__header__text-block {
  line-height: 1.4;
  & h1 {
    font-size: var(--fs-800);
  }
  & p {
    color: var(--clr-txt-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
    letter-spacing: 0.125px;
  }
}

.dashboard__top__section {
  display: grid;
  gap: 2rem;
}

.dashboard__bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard__bottom__heading {
  color: light-dark(hsl(228, 12%, 44%), var(--clr-white));
}

.dashboard__bottom__section {
  display: grid;
  gap: 1rem;
}

.card--small {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  background: var(--clr-bg-card);
  border-radius: 0.3rem;
}

.card--small__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--small__top__heading {
  color: var(--clr-txt-primary);
  font-size: var(--fs-300);
}

.card--small__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--small__bottom__heading {
  font-size: var(--fs-1200);
  font-weight: var(--fw-700);
  color: var(--clr-txt-secondary);
}
.card--small__bottom__par {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid var(--clr-txt-primary);
  padding-block: 1rem;
  & p {
    color: var(--clr-txt-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
    letter-spacing: 0;
  }
}

.theme-toggle__btn {
  /*transition was here*/
  border: 0;
  width: 3rem;
  height: 1.5rem;
  padding: 0.2rem;
  border-radius: 1rem;
  background: var(--clr-toggle);
  cursor: pointer;
  user-select: none;
}

.theme-toggle__btn:has([data-theme="dark"]) {
  background: var(--clr-toggle-gradient);
}

.theme-toggle__btn__switch {
  /*transition was here*/
  background: var(--clr-white);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  user-select: none;
}

.theme-toggle__btn__switch-wrapper {
  height: 100%;
  display: flex;
  justify-content: end;
  width: var(--toggle-switch-width);
  transition: all var(--transition-duration);
}

.theme-toggle__btn__switch-wrapper:has([data-theme="dark"]) {
  width: 100%;
}

@media (min-width: 764px) {
  .dashboard__top__section {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard__bottom__section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1023px) {
  .banner {
    inset: 0;
    width: 100%;
    height: 32%;
  }

  .dashboard {
    gap: 2.5rem;
  }

  .dashboard__top {
    gap: 3rem;
  }

  .dashboard__top__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .dashboard__top__header__text-block {
    line-height: 1.4;
    & h1 {
      font-size: var(--fs-900);
    }
    /* & p {
      color: var(--clr-txt-primary);
      font-size: var(--fs-200);
      font-weight: var(--fw-700);
      letter-spacing: 0.125px;
    } */
  }

  .theme-toggle {
    border: 0;
    gap: 1rem;
  }

  .dashboard__top__section {
    grid-template-columns: repeat(4, 1fr);
  }

  .dashboard__bottom__section {
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .card--small {
    gap: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .card--small__top__heading {
    font-size: var(--fs-200);
  }

  .card--small__bottom {
    align-items: end;
  }

  .card--small__bottom__par {
    font-size: var(--fs-200);
  }
}
